@import "variable";

body {
  font-family: "Merriweather", serif;
}

a,
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 75%;
}

h1 {
  font-size: 62px;
  font-weight: 400;

  span {
    color: $primary-color;
  }
}

p {
  font-weight: 300;
  font-size: 16px;
}

.btn {
  border: 1px solid $border-color;
  padding: 15px 30px;
  font-size: 16px;

  span {
    padding-right: 15px;
  }

  text-decoration: none;
}

.btn-primary-gis {
  background: $primary-color;
  color: $white-color;
  border: none;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  text-align: left;

  &:hover {
    color: $white-color;
    border: none;
    outline: 0;
  }
}

.btn-outline-primary {
  border: 1px solid $primary-color;
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.btn-outline-white {
  border: 1px solid $white-color;
  color: $white-color;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  background: transparent;
  padding: 7px 15px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;

  span {
    padding-left: 15px;
  }


  &:hover {
    color: $text-color;
    background: $white-color;
    transition: 0.5s ease-in-out;
  }
}

.pagination {
  li {
    a {
      font-family: "Merriweather", serif;
      font-weight: 400;
      font-size: 20px;
      color: $text-color;
      margin-right: 15px;
      border: 1px solid $border-color;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }

  .active {
    background: $primary-color;
    color: $white-color;
    -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    -moz-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  }
}

footer {
  padding: 25px 0px;
  font-size: 32px;
  text-align: center;
}



.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}