body {
  font-family: "Merriweather", serif;
}

a,
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 75%;
}

h1 {
  font-size: 62px;
  font-weight: 400;
}

h1 span {
  color: #0f8ae5;
}

p {
  font-weight: 300;
  font-size: 16px;
}

.btn {
  border: 1px solid #ededed;
  padding: 15px 30px;
  font-size: 16px;
  text-decoration: none;
}

.btn span {
  padding-right: 15px;
}

.btn-primary-gis {
  background: #0f8ae5;
  color: #ffffff;
  border: none;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  text-align: left;
}

.btn-primary-gis:hover {
  color: #ffffff;
  border: none;
  outline: 0;
}

.btn-outline-primary {
  border: 1px solid #0f8ae5;
  color: #0f8ae5;
  text-decoration: none;
}

.btn-outline-primary:hover {
  color: #0f8ae5;
}

.btn-outline-white {
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: transparent;
  padding: 7px 15px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
}

.btn-outline-white span {
  padding-left: 15px;
}

.btn-outline-white:hover {
  color: #000000;
  background: #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.pagination li a {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-right: 15px;
  border: 1px solid #ededed;
  padding: 10px 20px;
  border-radius: 5px;
}

.pagination .active {
  background: #0f8ae5;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
}

footer {
  padding: 25px 0px;
  font-size: 32px;
  text-align: center;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.custom-navbar {
  background: #ffffff;
  border: none;
  border-bottom: 1px solid #ededed;
  height: auto;
  padding: 25px 0px;
  margin-bottom: 0px;
}

.custom-navbar .list-inline li a {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 40px 0px 0px;
  text-decoration: none;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.custom-navbar .list-inline li a span {
  padding-right: 20px;
}

.custom-navbar .list-inline .logo a {
  font-size: 22px;
  color: #aaaaaa;
}

.custom-navbar .list-inline .logo a strong {
  color: #000000;
}

.heading-text {
  margin-top: 80px;
  padding: 25px 0px;
}

.heading-text p {
  font-size: 22px;
  line-height: 40px;
}

.heading-text .heading-button-wrapper {
  padding: 80px 30px;
}

.map .embed-responsive-100x400px {
  padding-bottom: 450px;
}

.main-element-gis {
  background: #0f8ae521;
}

.gis-form-wrapper {
  background: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: -45px;
  -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
}

.gis-form-wrapper .form-group {
  margin-bottom: 0px;
}

.gis-form-wrapper #sell2 {
  border-left: 1px solid #ededed;
  padding-left: 25px;
}

.gis-form-wrapper .form-control {
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Merriweather", serif;
  font-size: 22px;
  color: #aaaaaa;
  font-weight: 300;
  height: 60px;
}

.gis-form-wrapper .form-control:focus {
  color: #000000;
}

.block-component-wrapper {
  padding: 100px 0px 60px 0px;
}

.block-component-wrapper .block-component {
  position: relative;
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 80px;
  -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.block-component-wrapper .block-component:hover {
  -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.849);
  box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.849);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.block-component-wrapper .block-component:hover img {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.block-component-wrapper .block-component img {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  margin-top: -50px;
  border: 3px solid #ffffff;
}

.block-component-wrapper .block-component .pull-right {
  font-weight: 300;
  color: #aaaaaa;
  font-family: "Open Sans", sans-serif;
}

.block-component-wrapper .block-component h4 {
  font-weight: 600;
  font-size: 22px;
  padding: 10px 0px 5px 0px;
}

.block-component-wrapper .block-component p {
  text-align: justify;
  line-height: 25px;
}

.block-component-wrapper .block-component a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100%;
}

.about-us p {
  font-size: 22px;
  line-height: 40px;
}

.about-us .about-us-text-wrapper {
  padding: 100px 120px;
}

.about-us a {
  margin-top: 30px;
  color: #0f8ae5;
  font-size: 20px;
  padding: 10px;
  border-bottom: 3px solid #0f8ae5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.count-data-wrapper {
  background: url(../image/bg-count.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.count-data-wrapper .count-wrapper {
  position: relative;
  padding: 60px 0px;
}

.count-data-wrapper .count-wrapper .bg-count-primary {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0f8ae5;
  opacity: 0.9;
}

.count-data-wrapper .count-wrapper .bg-data {
  text-align: center;
  color: #ffffff;
}

.count-data-wrapper .count-wrapper .bg-data ul .big-prop {
  font-size: 80px;
}

.count-data-wrapper .count-wrapper .bg-data ul .small-prop {
  text-transform: capitalize;
  font-size: 22px;
  padding-top: 10px;
  letter-spacing: 0.5px;
}

.latest-thing-blog {
  background: #0f8ae521;
  padding: 40px 80px;
}

.latest-thing-blog p {
  font-size: 22px;
  line-height: 40px;
}

.latest-thing-blog .blog-slider {
  /* the slides */
  /* the parent */
  padding: 40px;
}

.latest-thing-blog .blog-slider .slick-slide {
  margin: 0 10px;
}

.latest-thing-blog .blog-slider .slick-list {
  margin: 0 -10px;
}

.latest-thing-blog .blog-slider .blog {
  background: #ffffff;
  border: 1px solid #ededed;
  padding: 60px;
  min-height: 300px;
  border-radius: 5px;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.latest-thing-blog .blog-slider .blog:hover {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  background: #0f8ae5;
  color: #ffffff;
}

.latest-thing-blog .blog-slider .blog:hover small {
  color: #ffffff;
}

.latest-thing-blog .blog-slider .blog:hover h4 {
  color: #ffffff;
}

.latest-thing-blog .blog-slider .blog small {
  color: #aaaaaa;
  font-family: "Open Sans", sans-serif;
}

.latest-thing-blog .blog-slider .blog h4 {
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  padding: 10px 0px;
}

.latest-thing-blog .blog-slider .blog p {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 30px;
}

.latest-thing-blog .blog-slider .blog a {
  color: #000000;
  font-size: 16px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.latest-thing-blog .blog-slider .blog a span {
  padding-left: 13px;
}

.latest-thing-blog .blog-slider .blog a:hover {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.latest-thing-blog .blog-slider .blog a:hover span {
  padding-left: 16px;
}

.latest-thing-blog .blog-slider .slick-prev,
.latest-thing-blog .blog-slider .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
}

.latest-thing-blog .blog-slider .slick-next {
  right: 40px;
}

.latest-thing-blog .blog-slider .slick-prev {
  left: 20px;
}

.latest-thing-blog .blog-slider .slick-next:before {
  content: "\f152";
}

.latest-thing-blog .blog-slider .slick-prev:before {
  content: "\f150";
}

.latest-thing-blog .blog-slider .slick-prev:before,
.latest-thing-blog .blog-slider .slick-next:before {
  font-family: "ionicons";
  font-size: 32px;
  line-height: 1;
  color: #aaaaaa;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  border-radius: 50px;
  padding: 15px 25px;
  -webkit-box-shadow: -1px 3px 105px -1px #43accc;
  box-shadow: -1px 3px 105px -1px #43accc;
}

.latest-thing-blog .blog-slider .slick-prev:before:hover,
.latest-thing-blog .blog-slider .slick-next:before:hover {
  color: #0f8ae5;
  background: #aaaaaa !important;
}

.collapse-sec {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ededed;
}

.collapse-sec .container-fluid {
  width: 85%;
}

.collapse-sec .card .card-body {
  padding: 10px 20px;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.collapse-sec .card .card-body h4 {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}

.collapse-sec .card .card-body p {
  font-size: 13px;
  font-weight: 300;
}

.collapse-sec .card .card-body a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  height: 100%;
}

.collapse-sec .card .card-body:hover {
  background: #0f8ae521;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}

.map-wrapper {
  margin-top: 80px;
}

.map-wrapper .map-sidebar {
  background: #0f8ae5;
  height: 100vh;
  padding: 40px;
}

.map-wrapper .map-sidebar h5 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 26px;
  color: #ffffff;
}

.map-wrapper .map-sidebar .dropdown {
  margin-top: 30px;
}

.map-wrapper .map-sidebar .dropdown-menu {
  margin-top: 5px;
  border: none;
  -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
}

.map-wrapper .map-sidebar .form-wrapper {
  padding: 40px 0px;
}

.map-wrapper .map-sidebar .form-wrapper p {
  color: #ffffff;
}

.map-wrapper .map-sidebar .form-wrapper .form-group {
  height: 400px;
  overflow-y: scroll;
}

.map-wrapper .map-sidebar .form-wrapper .form-group::-webkit-scrollbar {
  background: transparent;
}

.map-wrapper .map-sidebar .form-wrapper .form-group::-webkit-scrollbar-thumb {
  background: #4dadf3;
  width: 5px;
  border-radius: 15px;
}

.map-wrapper .map-sidebar .form-wrapper .form-group .checkbox {
  padding: 10px;
  margin-top: 5px;
  background: #0d7ccd;
  border: 1px solid #1d97f0;
  border-radius: 5px;
  color: #ffffff;
}

.map-wrapper .map-sidebar .form-wrapper .form-group .checkbox label {
  font-weight: 100;
}

.map-wrapper .map-sidebar .form-wrapper .form-group .checkbox label input {
  background: transparent;
  border: 1px solid #4dadf3;
}

.map-wrapper .container-fluid {
  margin: 0px;
  padding: 0px;
}

.map-wrapper .map-view-wrapper {
  position: relative;
}

.map-wrapper .map-view-wrapper .embed-responsive-100x400px {
  padding-bottom: 100vh;
}

.map-wrapper .map-view-wrapper .map-search {
  position: absolute;
  top: 100px;
  left: 40px;
  right: 0;
  width: 40%;
}

.map-wrapper .map-view-wrapper .map-search .gis-form-wrapper {
  border-radius: 25px;
  -webkit-box-shadow: 3px 4px 56px -1px rgba(41, 41, 41, 0.35);
  box-shadow: 3px 4px 56px -1px rgba(41, 41, 41, 0.35);
}

.map-wrapper .map-view-wrapper .map-search .gis-form-wrapper #sell2 {
  border-left: none;
  padding-left: 0px;
}

.map-wrapper .map-view-wrapper .map-search .gis-form-wrapper .form-control {
  font-size: 18px;
  height: 45px;
  color: #0f8ae5;
}

.contact {
  margin-top: 100px;
  padding: 50px 0px;
}

.contact .contact-wrapper {
  padding: 0px 40px;
}

.contact .contact-wrapper .form-wrapper .form-group {
  margin-bottom: 30px;
}

.contact .contact-wrapper .form-wrapper .form-group label {
  color: #aaaaaa;
}

.contact .contact-wrapper .form-wrapper .form-group .form-control {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  box-shadow: none;
  border-bottom: 3px solid #000000;
  border-radius: 0px;
  height: 50px;
  font-size: 18px;
  color: #0f8ae5;
  padding: 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact .contact-wrapper .form-wrapper .form-group .form-control:focus {
  border-bottom: 3px solid #0f8ae5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact .contact-wrapper .form-wrapper .form-group textarea.form-control {
  height: auto;
  font-size: 15px;
  padding-top: 10px;
}

.map-contact-section .embed-responsive-100x400px {
  padding-bottom: 300px;
}

.extra-contact {
  background: #0f8ae521;
  padding: 60px;
}

.extra-contact .contact-din-one ul li {
  padding-bottom: 5px;
}

.extra-contact .contact-din-one ul li strong {
  color: #0f8ae5;
}

.extra-contact .contact-din-one ul li span {
  color: #aaaaaa;
}

.extra-contact .contact-din-one .text-center {
  border: 1px solid #0f8ae5;
  border-bottom: 0px;
  border-top: 0px;
}

.gallery-bg {
  background: #0f8ae5;
  margin-top: 80px;
  padding: 50px 0px;
  color: #ffffff;
}

.gallery-bg h1 {
  font-weight: 600;
}

.gallery-body {
  background: #0f8ae521;
}

.gallery-body .tab-wrapper {
  padding: 30px 0px;
}

.gallery-body .tab-wrapper .nav-tabs {
  border: none;
}

.gallery-body .tab-wrapper .nav-tabs li a {
  font-weight: 600;
  color: #000000;
}

.gallery-body .tab-wrapper .nav-tabs li a:hover {
  background: none;
  border: 1px solid transparent;
}

.gallery-body .tab-wrapper .nav-tabs .active a {
  background: none;
  border: none;
  border-bottom: 2px dotted #0f8ae5;
  color: #0f8ae5;
}

.gallery-body .tab-wrapper .tab-content {
  padding: 30px 0px;
}

.gallery-body .tab-wrapper .tab-content .row a img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.notice-wrapper {
  background: #0f8ae5;
  min-height: 300px;
  margin-top: 80px;
  color: #ffffff;
}

.notice-wrapper h1 {
  font-weight: 600;
}

.notice-list-wrapper {
  background: #0f8ae521;
  padding: 40px 0px;
}

.notice-list-wrapper .notice-filter {
  background: #ffffff;
}

.notice-list-wrapper .filter-heading {
  background: #0f8ae5;
  color: #ffffff;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 5px 5px 0px 0px;
}

.notice-list-wrapper .filter-heading p {
  padding: 0px;
  margin: 0px;
}

.notice-list-wrapper .filter-body {
  padding: 10px 20px;
  font-size: 13px;
}

.notice-list-wrapper .filter-body .checkbox {
  color: #1a1a1a;
  padding-top: 5px;
}

.notice-list-wrapper .filter-body .btn-outline-primary {
  padding: 5px 10px;
  font-size: 12px;
  margin-top: 10px;
}

.search-data {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 25px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.search-data:hover {
  -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.search-data .form-group {
  margin-bottom: 0px;
}

.search-data .form-group .form-control {
  height: 40px;
  border: none;
  border-radius: 0px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-data .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #0f8ae5;
}

.search-data .form-group .btn-outline-search {
  color: #0f8ae5;
  height: 40px;
  border: 1px solid #0f8ae5;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  width: 100%;
  padding: 0px;
  border-radius: 5px;
}

.notice-data-blog {
  background: #ffffff;
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.notice-data-blog:hover {
  -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.notice-data-blog:hover h4 {
  color: #0f8ae5;
}

.notice-data-blog p {
  font-weight: 300;
  font-size: 13px;
  color: #777777;
  padding-bottom: 10px;
}

.notice-data-blog ul {
  padding-top: 10px;
  border-top: 1px solid #ededed;
}

.notice-data-blog ul li {
  font-weight: 300;
  font-size: 13px;
  color: #777777;
}

.notice-details {
  background-attachment: fixed;
  overflow: hidden;
}

.notice-details ul li {
  font-weight: 300;
  font-size: 13px;
}

.notice-details ul .pull-right {
  padding-right: 40px;
  margin-top: -30px;
}

.notice-section {
  background: #0f8ae521;
  padding: 40px 0px;
}

.notice-section .notice-data-blog {
  margin-top: -100px;
}

.notice-section .notice-data-blog .back {
  color: #aaaaaa;
  padding: 30px 0px;
  border-bottom: 1px solid #ededed;
  display: block;
}

.notice-section .notice-data-blog .back:hover {
  color: #0f8ae5;
}

.notice-section .notice-data-blog .notice-data {
  padding: 20px 0px;
}

.notice-section .notice-data-blog .media-phase {
  border: 1px solid #ededed;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-bottom: 10px;
}

.notice-section .notice-data-blog .media-phase h3 {
  padding-bottom: 20px;
}

.notice-section .notice-data-blog .source {
  padding-top: 30px;
}

.notice-section .notice-data-blog .source .btn {
  padding: 10px 15px;
  border: none;
}

.notice-section .notice-data-blog .source .btn .ion-chevron-right {
  padding-left: 20px;
}

.news-praper {
  min-height: 100px;
  margin-top: -100px;
  border-radius: 5px;
}

.news-praper .news {
  padding: 0px;
  min-height: 220px;
}

.news-praper .news figure img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-point {
  padding: 30px 30px 30px 0px;
}

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-view {
  position: fixed;
  top: 20vh;
}

.modal-view .modal-dialog {
  min-width: 50%;
}

.modal-view .modal-content {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0px !important;
}

.modal-view .modal-body {
  padding: 0px;
}

.modal-view .modal-body .modal-con-wrapper {
  padding: 30px;
}

.modal-view .modal-body .modal-con-wrapper img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.modal-view .modal-body .modal-con-wrapper .list-unstyled {
  padding: 15px 0px;
}

.modal-view .modal-body .modal-con-wrapper .list-unstyled .small-prop {
  color: #aaaaaa;
  font-family: "Open Sans", sans-serif;
}

.modal-view .modal-body .modal-con-wrapper .list-unstyled .big-prop {
  font-size: 32px;
}

.modal-view .modal-body .modal-con-wrapper p {
  font-size: 16px;
  line-height: 30px;
}

.modal-view .modal-body .modal-con-wrapper .btn-outline-primary {
  margin-top: 40px;
}

.modal-view .modal-body .modal-con-wrapper .btn-outline-primary span img {
  width: 18%;
  height: 18%;
}

.modal-view .embed-responsive-100x200px {
  padding-bottom: 700px;
}
/*# sourceMappingURL=master.css.map */