@import "constant";
@import "navbar";

.heading-text {
  margin-top: 80px;
  padding: 25px 0px;

  p {
    font-size: 22px;
    line-height: 40px;
  }

  .heading-button-wrapper {
    padding: 80px 30px;
  }
}

.map {
  .embed-responsive-100x400px {
    padding-bottom: 450px;
  }
}

.main-element-gis {
  background: #0f8ae521;
}

.gis-form-wrapper {
  background: $white-color;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: -45px;
  -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  -moz-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
  box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);

  .form-group {
    margin-bottom: 0px;
  }

  #sell2 {
    border-left: 1px solid $border-color;
    padding-left: 25px;
  }

  .form-control {
    border: none;
    outline: 0;
    box-shadow: none;
    font-family: "Merriweather", serif;
    font-size: 22px;
    color: $secondary-color;
    font-weight: 300;
    height: 60px;

    &:focus {
      color: $text-color;
    }
  }
}

.block-component-wrapper {
  padding: 100px 0px 60px 0px;

  .block-component {
    position: relative;
    background: $white-color;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 80px;
    -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    -moz-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    transition: 0.8s ease-in-out;

    &:hover {
      -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.849);
      -moz-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.849);
      box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.849);
      transition: 0.8s ease-in-out;

      img {
        transform: scale(1.2, 1.2);
        transition: 0.8s ease-in-out;
      }
    }

    img {
      transition: 0.8s ease-in-out;
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
      -moz-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
      box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
      margin-top: -50px;
      border: 3px solid $white-color;
    }

    .pull-right {
      font-weight: 300;
      color: $secondary-color;
      font-family: "Open Sans", sans-serif;
    }

    h4 {
      font-weight: 600;
      font-size: 22px;
      padding: 10px 0px 5px 0px;
    }

    p {
      text-align: justify;
      line-height: 25px;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      height: 100%;
    }
  }
}

.about-us {
  p {
    font-size: 22px;
    line-height: 40px;
  }

  .about-us-text-wrapper {
    padding: 100px 120px;
  }

  a {
    margin-top: 30px;
    color: $primary-color;
    font-size: 20px;
    padding: 10px;
    border-bottom: 3px solid $primary-color;
    display: inline-flex;
  }
}

.count-data-wrapper {
  background: url(../image/bg-count.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .count-wrapper {
    position: relative;
    padding: 60px 0px;

    .bg-count-primary {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $primary-color;
      opacity: 0.9;
    }

    .bg-data {
      text-align: center;
      color: $white-color;

      ul {
        .big-prop {
          font-size: 80px;
        }

        .small-prop {
          text-transform: capitalize;
          font-size: 22px;
          padding-top: 10px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

.latest-thing-blog {
  background: #0f8ae521;
  padding: 40px 80px;

  p {
    font-size: 22px;
    line-height: 40px;
  }

  .blog-slider {

    /* the slides */
    .slick-slide {
      margin: 0 10px;
    }

    /* the parent */
    .slick-list {
      margin: 0 -10px;
    }

    padding: 40px;

    .blog {
      background: $white-color;
      border: 1px solid $border-color;
      padding: 60px;
      min-height: 300px;
      border-radius: 5px;
      transition: 0.8s ease-in-out;

      &:hover {
        transition: 0.8s ease-in-out;
        background: $primary-color;
        color: $white-color;

        small {
          color: $white-color;
        }

        h4 {
          color: $white-color;
        }
      }

      small {
        color: $secondary-color;
        font-family: "Open Sans", sans-serif;
      }

      h4 {
        font-size: 32px;
        font-weight: 600;
        color: $text-color;
        padding: 10px 0px;
      }

      p {
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 30px;
      }

      a {
        color: $text-color;
        font-size: 16px;
        transition: 0.2s ease-in;

        span {
          padding-left: 13px;
        }

        &:hover {
          color: $white-color;
          text-decoration: none;
          transition: 0.2s ease-in;

          span {
            padding-left: 16px;
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      line-height: 0px;
      font-size: 0px;
      cursor: pointer;
      background: transparent;
      color: transparent;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      padding: 0;
      border: none;
      outline: none;
      z-index: 1;
    }

    .slick-next {
      right: 40px;
    }

    .slick-prev {
      left: 20px;
    }

    .slick-next:before {
      content: "\f152";
    }

    .slick-prev:before {
      content: "\f150";
    }

    .slick-prev:before,
    .slick-next:before {
      font-family: "ionicons";
      font-size: 32px;
      line-height: 1;
      color: $secondary-color;
      opacity: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: $white-color;
      border-radius: 50px;
      padding: 15px 25px;

      -webkit-box-shadow: -1px 3px 105px -1px rgba(67, 172, 204, 1);
      -moz-box-shadow: -1px 3px 105px -1px rgba(67, 172, 204, 1);
      box-shadow: -1px 3px 105px -1px rgba(67, 172, 204, 1);

      &:hover {
        color: $primary-color;
        background: $secondary-color !important;
      }
    }
  }
}

.collapse-sec {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $border-color;

  .container-fluid {
    width: 85%;
  }

  .card {
    .card-body {
      padding: 10px 20px;
      position: relative;
      transition: 0.5s ease-in-out;

      h4 {
        font-size: 15px;
        font-weight: 500;
        color: $text-color;
      }

      p {
        font-size: 13px;
        font-weight: 300;
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;
        height: 100%;
      }

      &:hover {
        background: #0f8ae521;
        transition: 0.5s ease-in-out;
        border-radius: 5px;
      }
    }
  }
}

.map-wrapper {
  margin-top: 80px;

  .map-sidebar {
    background: $primary-color;
    height: 100vh;
    padding: 40px;

    h5 {
      font-weight: 600;
      text-transform: capitalize;
      font-size: 26px;
      color: $white-color;
    }

    .dropdown {
      margin-top: 30px;
    }

    .dropdown-menu {
      margin-top: 5px;
      border: none;
      -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
      -moz-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
      box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    }

    .form-wrapper {
      padding: 40px 0px;

      p {
        color: $white-color;
      }

      .form-group {
        height: 400px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: lighten($primary-color, 15%);
          width: 5px;
          border-radius: 15px;
        }

        .checkbox {
          padding: 10px;
          margin-top: 5px;
          background: darken($primary-color, 5%);
          border: 1px solid lighten($primary-color, 5%);
          border-radius: 5px;
          color: $white-color;

          label {
            font-weight: 100;

            input {
              background: transparent;
              border: 1px solid lighten($primary-color, 15%);
            }
          }
        }
      }
    }
  }

  .container-fluid {
    margin: 0px;
    padding: 0px;
  }

  .map-view-wrapper {
    position: relative;

    .embed-responsive-100x400px {
      padding-bottom: 100vh;
    }

    .map-search {
      position: absolute;
      top: 100px;
      left: 40px;
      right: 0;
      width: 40%;

      .gis-form-wrapper {
        border-radius: 25px;
        -webkit-box-shadow: 3px 4px 56px -1px rgba(41, 41, 41, 0.35);
        -moz-box-shadow: 3px 4px 56px -1px rgba(41, 41, 41, 0.35);
        box-shadow: 3px 4px 56px -1px rgba(41, 41, 41, 0.35);

        #sell2 {
          border-left: none;
          padding-left: 0px;
        }

        .form-control {
          font-size: 18px;
          height: 45px;
          color: $primary-color;
        }
      }
    }
  }
}

.contact {
  margin-top: 100px;
  padding: 50px 0px;

  .contact-wrapper {
    padding: 0px 40px;

    .form-wrapper {
      .form-group {
        margin-bottom: 30px;

        label {
          color: $secondary-color;
        }

        .form-control {
          background: none;
          border: none;
          box-shadow: none;
          outline: 0;
          box-shadow: none;
          border-bottom: 3px solid $text-color;
          border-radius: 0px;
          height: 50px;
          font-size: 18px;
          color: $primary-color;
          padding: 0px;
          transition: 0.5s ease-in-out;

          &:focus {
            border-bottom: 3px solid $primary-color;
            transition: 0.5s ease-in-out;
          }
        }

        textarea.form-control {
          height: auto;
          font-size: 15px;
          padding-top: 10px;
        }
      }
    }
  }
}

.map-contact-section {
  .embed-responsive-100x400px {
    padding-bottom: 300px;
  }
}

.extra-contact {
  background: #0f8ae521;
  padding: 60px;

  .contact-din-one {
    ul {
      li {
        padding-bottom: 5px;

        strong {
          color: $primary-color;
        }

        span {
          color: $secondary-color;
        }
      }
    }

    .text-center {
      border: 1px solid $primary-color;
      border-bottom: 0px;
      border-top: 0px;
    }
  }
}

.gallery-bg {
  background: $primary-color;
  margin-top: 80px;
  padding: 50px 0px;
  color: $white-color;

  h1 {
    font-weight: 600;
  }
}

.gallery-body {
  background: #0f8ae521;

  .tab-wrapper {
    padding: 30px 0px;

    .nav-tabs {
      border: none;

      li a {
        font-weight: 600;
        color: $text-color;

        &:hover {
          background: none;
          border: 1px solid transparent;
        }

      }

      .active {
        a {

          background: none;
          border: none;
          border-bottom: 2px dotted $primary-color;
          color: $primary-color;

        }
      }
    }

    .tab-content {
      padding: 30px 0px;

      .row {
        a {
          img {
            width: 100%;
            height: 300px;
            object-fit: cover;

          }
        }
      }
    }
  }
}

.notice-wrapper {
  background: $primary-color;
  min-height: 300px;
  margin-top: 80px;
  color: $white-color;

  h1 {
    font-weight: 600;
  }
}

.notice-list-wrapper {
  background: #0f8ae521;
  padding: 40px 0px;

  .notice-filter {
    background: $white-color;
  }

  .filter-heading {
    background: $primary-color;
    color: $white-color;
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 5px 5px 0px 0px;

    p {
      padding: 0px;
      margin: 0px;
    }
  }

  .filter-body {
    padding: 10px 20px;
    font-size: 13px;

    .checkbox {
      color: lighten($text-color, 10%);
      padding-top: 5px;
    }

    .btn-outline-primary {
      padding: 5px 10px;
      font-size: 12px;
      margin-top: 10px;
    }


  }
}

.search-data {
  background: $white-color;
  border-radius: 5px;
  padding: 20px 25px;
  transition: 0.5s ease-in-out;

  &:hover {
    -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    -moz-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    transition: 0.5s ease-in-out;
  }

  .form-group {
    margin-bottom: 0px;

    .form-control {
      height: 40px;
      border: none;
      border-radius: 0px;
      outline: 0;
      box-shadow: none;

      &:focus {
        box-shadow: none;
        color: $primary-color;
      }
    }

    .btn-outline-search {
      color: $primary-color;
      height: 40px;
      border: 1px solid $primary-color;
      border-radius: 0px;
      box-shadow: none;
      outline: 0;
      width: 100%;
      padding: 0px;
      border-radius: 5px;

    }
  }
}

.notice-data-blog {
  background: $white-color;
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;

  &:hover {
    -webkit-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    -moz-box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    box-shadow: 0px 0px 111px -19px rgba(101, 140, 240, 0.65);
    transition: 0.5s ease-in-out;

    h4 {
      color: $primary-color;

    }
  }

  p {
    font-weight: 300;
    font-size: 13px;
    color: darken($secondary-color, 20%);
    padding-bottom: 10px;
  }

  ul {
    padding-top: 10px;
    border-top: 1px solid $border-color;

    li {
      font-weight: 300;
      font-size: 13px;
      color: darken($secondary-color, 20%);
    }
  }
}

.notice-details {
  background-attachment: fixed;
  overflow: hidden;

  ul {
    li {
      font-weight: 300;
      font-size: 13px;

    }

    .pull-right {
      padding-right: 40px;
      margin-top: -30px;
    }
  }
}

.notice-section {
  background: #0f8ae521;
  padding: 40px 0px;

  .notice-data-blog {
    margin-top: -100px;

    .back {
      color: $secondary-color;
      padding: 30px 0px;
      border-bottom: 1px solid $border-color;
      display: block;

      &:hover {
        color: $primary-color;

      }
    }

    .notice-data {
      padding: 20px 0px;
    }

    .media-phase {
      border: 1px solid $border-color;
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding-bottom: 10px;

      h3 {
        padding-bottom: 20px;
      }
    }

    .source {
      padding-top: 30px;

      .btn {
        padding: 10px 15px;
        border: none;

        .ion-chevron-right {
          padding-left: 20px;
        }
      }
    }
  }
}

.news-praper {
  min-height: 100px;
  margin-top: -100px;
  border-radius: 5px;

  .news {
    padding: 0px;
    min-height: 220px;

    figure {
      img {
        width: 100%;
        height: 220px;
        object-fit: cover;

      }
    }
  }
}

.news-point {
  padding: 30px 30px 30px 0px;
}

@import "modals";